@use '../abstracts' as *;

.assortment {
	position: relative;
	@include flex(row, flex-start, flex-start, 40px);
	@media (max-width: 767px) {
		gap: 12px;
	}
	@media (max-width: 480px) {
		flex-direction: column;
	}

	&__left {
		width: 17%;
		@include flex(column, flex-start, flex-start, 8px);
		flex-shrink: 0;
		@media (max-width: 1200px) {
			width: 25%;
		}
		@media (max-width: 991px) {
			width: 30%;
		}
		@media (max-width: 767px) {
			position: absolute;
			top: 336px;
			left: 8px;
			opacity: 0;
			pointer-events: none;
			transform: translateX(-10px);
			border-radius: 12px;
			border: 0;
			background: $white;
			padding: 0;
			@include transition;
			z-index: 11;
			width: calc(100% - 16px);
			&.open {
				opacity: 1;
				pointer-events: all;
				transform: translateX(0);
			}
		}
	}

	&__menu {
		width: 100%;
		@include flex(column, flex-start, flex-start, 8px);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		padding: 12px;
		@media (max-width: 767px) {
			width: 200px;
			padding: 8px;
		}
		@media (max-width: 480px) {
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__menu.desktop {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__menu-item-wrap {
		@include flex(column, flex-start, flex-start);
		width: 100%;
		padding: 8px;

		border-radius: 8px;
		transition: 1s all;
		&:hover {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
			.assortment__menu-item--list {
				max-height: 500px;
				padding-top: 12px;
				margin-bottom: 4px;
				transition: 1s all;
			}
		}
		&.active {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
		}
	}

	&__menu-item {
		@include flex(row, flex-start, center, 12px);
		@include text-style(16px, 400, 20px);
		width: 100%;
	}

	&__menu-item--list {
		max-height: 0;
		padding-left: 36px;
		overflow: hidden;
		@include flex(column, flex-start, flex-start, 12px);
		@include transition;
	}

	&__menu-item--item {
		@include text-style(14px, 400, 16px);
		@include transition;
		&:hover {
			color: #7a8086;
		}
	}

	&__menu-drop {
		width: 100%;
		@include flex(column, flex-start, flex-start);
		padding: 12px;
		border-radius: 8px;
		background: #fff;
		.dropdown__head {
			width: 100%;
			@include flex(row, space-between, center);
		}
		.dropdown__head-icon {
			@include center;
			@include transition;
		}
		.dropdown__body {
			max-height: 0;
			overflow: hidden;
			@include transition;
		}
		.dropdown__tabs {
			@include flex(row, flex-start, center, 4px);
			flex-wrap: wrap;
		}
		.dropdown__tab {
			@include center;
			padding: 8px;
			border-radius: 6px;
			border: 1px solid rgba(0, 0, 0, 0.06);
			background: $bg;
			@include text-style(14px, 400, 16px);
			cursor: pointer;
			@include transition;
		}
		.dropdown__tab:hover {
			color: $white;
			background: $green;
		}
		.dropdown__tab.active {
			color: $white;
			background: $green;
		}
		.dropdown__inputs {
			@include flex(row, flex-start, center, 12px);
		}
		.dropdown__input {
			@include flex(row, flex-start, center, 4px);
			label {
				@include text-style(14px, 400, 16px);
			}
			input {
				width: 90px;
				@include flex(row, flex-start, center);
				padding: 8px;
				border-radius: 6px;
				border: 1px solid rgba(0, 0, 0, 0.06);
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__menu-drop.active {
		border: 1px solid rgba(0, 0, 0, 0.06);
		box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
		.dropdown__body {
			max-height: 400px;
			padding-top: 12px;
		}
		.dropdown__head-icon {
			transform: rotate(180deg);
		}
	}

	&__btn-reset {
		width: 100%;
		@include center;
		color: $red;
		@include text-style(14px, 400, 16px, center);
		padding: 8px 12px;
	}
}

#price-slider {
	width: 95%;
	height: 4px;
	margin: 24px 0;
	@media (max-width: 767px) {
		width: 85%;
	}
}
.noUi-connects {
	background: $bg;
}

.noUi-connect {
	height: 4px;
	background: $green !important;
}
.noUi-handle {
	width: 16px !important;
	height: 16px !important;
	border-radius: 50%;
	background: $white;
	border: 4px solid $green;
	cursor: pointer;
	&::after,
	&::before {
		display: none;
	}
}
.noUi-handle-upper {
	right: 0px !important;
}
.noUi-touch-area {
	left: 0 !important;
}

.breadcrumbs {
	margin-top: 20px;
	@include flex(row, flex-start, center, 8px);
	flex-wrap: wrap;
	margin-bottom: 40px;
	@media (max-width: 767px) {
		margin-top: 12px;
		margin-bottom: 12px;
	}
	&__item {
		color: $grey;
		@include text-style(14px, 400, 16px);
		img {
			@include center;
		}
		a {
			color: $green;
		}
	}
}

.assortment {
	width: 100%;
	&__right {
		width: 80%;
		@media (max-width: 1200px) {
			width: 70%;
		}
		@media (max-width: 991px) {
			width: 65%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__right-title {
		@include text-style(36px, 500, 44px);
		margin-bottom: 40px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 26px);
			margin-bottom: 12px;
		}
	}

	&__right-switcher {
		@include flex(row, center, center, 2px);
		padding: 2px;
		width: fit-content;
		border-radius: 200px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: rgba(0, 0, 0, 0.06);
		overflow: auto;
		flex-wrap: wrap;
		margin-bottom: 12px;
		@media (max-width: 767px) {
			width: 100%;
			flex-wrap: nowrap;
		}
	}

	&__right-switch {
		@include flex(row, center, center, 10px);
		padding: 8px 20px;
		color: $grey;
		@include text-style(16px, 400, 20px, center);
		border-radius: 200px;
		background: transparent;
		border: 1px solid transparent;
		@include transition;
		@media (max-width: 1200px) {
			padding: 6px 12px;
			@include text-style(14px, 400, 16px, center);
			white-space: nowrap;
		}
	}

	&__right-switch:hover {
		color: $black;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
	}

	&__right-switch.active {
		color: $black;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
	}

	&__right-separator {
		display: block;
		@include box(1px, 16px);
		background: rgba(0, 0, 0, 0.06);
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__right-slider--wrap {
		padding-bottom: 20px;
		@include flex(row, center, center, 4px);
		margin-bottom: 8px;
		@media (max-width: 767px) {
			padding-bottom: 8px;
			margin-bottom: 4px;
		}
	}

	&__right-slider__prev {
		@include center;
		@include box(24px);
		transform: rotate(180deg);
		@include transition;
		@media (max-width: 991px) {
			display: none;
		}
	}
	&__right-slider__next {
		@include center;
		@include box(24px);
		@include transition;
		@media (max-width: 991px) {
			display: none;
		}
	}

	.swiper-button-disabled {
		@include box(0);
		opacity: 0;
	}

	&__right-slide {
		@include flex(column, flex-start, flex-start, 4px);
		padding: 12px 16px;
		border-radius: 8px;
		border: 2px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include transition;
		&:hover {
			border: 2px solid $green;
		}
		&.active {
			border: 2px solid $green;
		}
		img {
			@include box(60px);
		}
		p {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			align-self: stretch;
			overflow: hidden;
			text-overflow: ellipsis;
			@include text-style(16px, 500, 20px);
		}
	}

	&__right-filter {
		@include flex(row, space-between, center, 12px);
		padding: 8px 8px 8px 12px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		margin-bottom: 8px;
		@media (max-width: 1200px) {
			padding: 8px;
			flex-direction: column;
			align-items: flex-end;
		}
		@media (max-width: 767px) {
			gap: 8px;
			align-items: flex-start;
			padding-right: 0;
		}
	}

	&__right-volume {
		@include flex(row, flex-start, center, 8px);
		@media (max-width: 991px) {
			overflow: hidden;
			width: 100%;
		}
	}

	&__right-volume--label {
		@include text-style(14px, 400, 16px);
	}

	&__right-volume--switcher {
		@include flex(row, flex-start, center, 4px);
		@media (max-width: 767px) {
			width: 100%;
			overflow: auto;
			padding-right: 8px;
			padding-bottom: 3px;
		}
	}

	&__right-volume--switch {
		@include flex(row, center, center);
		padding: 8px;
		@include text-style(14px, 400, 16px, center);
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@include transition;
		&:hover {
			color: $white;
			background: $green;
		}
		&.active {
			color: $white;
			background: $green;
		}
	}

	&__right-btn-filter {
		display: none;
		@media (max-width: 767px) {
			@include center;
			@include box(36px);
			border-radius: 8px;
			border: 1px solid rgba(0, 0, 0, 0.06);
			background: $white;
		}
	}

	&__right-sort {
		@include flex(row, flex-end, center, 8px);
	}
	.catalog__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 8px;

		@media (max-width: 1399px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 1199px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 991px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.drop-sort {
	position: relative;

	&__toggle {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		padding: 8px 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		border-radius: 8px;
		cursor: pointer;
		@media (max-width: 767px) {
			background: $white;
		}
	}
	&__value {
		@include text-style(14px, 400, 16px);
	}

	&__menu {
		position: absolute;
		top: 100%;
		left: 0;
		width: 200px;
		padding: 8px;
		@include flex(column, flex-start, flex-start, 4px);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.24);
		display: none;
		z-index: 11;

		&.is-open {
			display: flex;
		}
	}

	&__option {
		width: 100%;
		@include flex(row, space-between, center, 8px);
		padding: 8px;
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		cursor: pointer;
		@include text-style(14px, 400, 16px);
		img {
			opacity: 0;
			@include transition;
		}

		&:hover {
			background: #f3f4f6;
			img {
				opacity: 1;
			}
		}
		&[aria-selected='true'] {
			img {
				opacity: 1;
			}
		}
	}
}

#perPageDropdown > .drop-sort__menu {
	width: 150px;
}
#perPageDropdown > .drop-sort__menu > .drop-sort__option {
	gap: 0px;
}

.pagination {
	margin: 8px 0 40px 0;
	padding: 12px 40px;
	@include flex(row, center, center, 40px);
	border-radius: 12px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: $white;
	@media (max-width: 767px) {
		gap: 20px;
		margin: 4px 0 12px 0;
		padding: 8px 12px;
	}
	&__item {
		@include center;
		color: $grey;
		@include text-style(20px, 400, 24px, center);
		@media (max-width: 767px) {
			@include text-style(16px, 400, 18px, center);
		}
	}
	&__item.active {
		color: $black;
		font-weight: 500;
	}
	&__item > a {
		@include center;
	}
}
