@use '../abstracts' as *;

.cabinet {
	position: relative;
	width: 100%;
	@include flex(row, flex-start, flex-start, 8px);
	margin-bottom: 8px;
	@media (max-width: 991px) {
		flex-direction: column;
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}
	&__left {
		width: 65%;
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	.breadcrumbs {
		margin-bottom: 0;
		@media (max-width: 767px) {
			margin-top: 0;
		}
	}

	&__block {
		position: relative;
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		padding: 32px;
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			gap: 8px;
			padding: 12px;
		}
	}

	&__title {
		@include text-style(36px, 500, 44px);
		@media (max-width: 767px) {
			@include text-style(20px, 500, 24px);
		}
	}

	&__text {
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}

	&__switcher {
		@include flex(row, center, center, 2px);
		padding: 2px;
		border-radius: 200px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: rgba(0, 0, 0, 0.06);
	}

	&__switch {
		@include center;
		padding: 8px 20px;
		border-radius: 200px;
		background: transparent;
		border: 1px solid transparent;
		@include text-style(16px, 400, 20px, center);
		@include transition;
		@media (max-width: 767px) {
			padding: 8px 12px;
			@include text-style(14px, 400, 16px, center);
		}
	}

	&__switch.active {
		background: $white;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

	&__switch:hover {
		background: $white;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

	&__block-first {
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		@media (max-width: 767px) {
			gap: 12px;
		}
	}

	&__sub-block {
		width: 100%;
		@include flex(column, flex-start, flex-start, 12px);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			gap: 8px;
			padding: 12px;
		}
		h2 {
			@include text-style(24px, 500, 28px);
			@media (max-width: 767px) {
				@include text-style(20px, 500, 24px);
			}
		}
	}

	&__row {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		flex-wrap: wrap;
		@media (max-width: 767px) {
			flex-direction: column;
			gap: 8px;
		}
	}

	&__block-second {
		width: 100%;
		display: none;
	}

	&__right {
		width: 35%;
		@include center;
		padding-top: 30px;
		@media (max-width: 991px) {
			width: 100%;
			padding: 20px 0;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__img-first {
		@media (max-width: 991px) {
			width: 50%;
		}
	}

	&__img-second {
		display: none;
		@media (max-width: 991px) {
			width: 50%;
		}
	}

	&__btn {
		@include center;
		padding: 12px 24px;
		border-radius: 8px;
		background: $yellow;
		color: $white;
		@include text-style(16px, 500, 20px);
		@media (max-width: 767px) {
			padding: 8px 12px;
			@include text-style(14px, 500, 16px);
		}
		&:disabled {
			background: #d9d9d9;
			pointer-events: none;
		}
	}

	input {
		width: 466px;
		height: 48px;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
		@media (max-width: 1200px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			height: 40px;
			padding: 8px;
			@include text-style(14px, 400, 16px);
		}
	}
}

.cabinet {
	&__history {
		width: 100%;
		@include flex(column, flex-start, flex-start, 4px);
	}

	&__history-item {
		width: 100%;
		padding: 8px 16px;
		@include flex(row, space-between, center, 12px);
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 991px) {
			padding: 8px 12px;
			gap: 8px;
		}
		@media (max-width: 767px) {
			align-items: flex-start;
		}
	}

	&__history-item--left {
		width: 100%;
		@include flex(row, space-between, center);
		@media (max-width: 767px) {
			@include flex(column, flex-start, flex-start, 4-x);
		}
	}

	&__history-item--info {
		p {
			@include text-style(16px, 400, 20px);
			margin-bottom: 4px;
			@media (max-width: 991px) {
				@include text-style(14px, 400, 16px);
			}
		}
		span {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 991px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__history-item--imgs {
		@include flex(row, center, center);
	}

	&__history-item--imgs.disabled {
		opacity: 0.6;
	}

	&__history-item--img {
		@include box(36px);
		object-fit: cover;
		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

	&__history-item--label {
		margin-left: 4px;
		@include text-style(14px, 400, 16px, right);
	}

	&__history-item--status {
		@include flex(row, flex-end, center, 12px);
		@media (max-width: 991px) {
			gap: 8px;
		}
		p {
			width: 128px;
			color: $grey;
			@include text-style(16px, 400, 20px, right);
			@media (max-width: 991px) {
				@include text-style(14px, 400, 16px, right);
			}
		}
		.success {
			color: $green;
		}
		.cancel {
			color: $red;
		}
		span {
			display: block;
			@include box(1px, 16px);
			background: #d9d9d9;
			@media (max-width: 767px) {
				display: none;
			}
		}
		a {
			@include center;
			@include box(24px);
		}
	}
}
