@use '../abstracts' as *;

.checkout {
	position: relative;
	width: 100%;
	@include flex(row, flex-start, flex-start, 8px);
	margin-bottom: 8px;
	@media (max-width: 991px) {
		flex-direction: column;
	}

	&__left {
		width: 65%;
		@media (max-width: 1200px) {
			width: 50%;
		}
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	&__right {
		width: 35%;
		position: sticky;
		top: 0;
		@media (max-width: 1200px) {
			width: 50%;
		}
		@media (max-width: 991px) {
			width: 100%;
			position: static;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}

	.breadcrumbs {
		margin-bottom: 0;
		@media (max-width: 767px) {
			margin-top: 0;
		}
	}

	&__title {
		@include text-style(36px, 500, 44px);
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px);
		}
	}

	&__switcher {
		@include flex(row, center, center, 2px);
		padding: 2px;
		border-radius: 200px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: rgba(0, 0, 0, 0.06);
	}

	&__switch {
		@include center;
		padding: 8px 20px;
		border-radius: 200px;
		background: transparent;
		border: 1px solid transparent;
		@include text-style(16px, 400, 20px, center);
		@include transition;
		@media (max-width: 767px) {
			padding: 6px 12px;
			@include text-style(14px, 400, 16px, center);
			white-space: nowrap;
		}
	}

	&__switch.active {
		background: $white;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

	&__switch:hover {
		background: $white;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

	&__first {
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		@media (max-width: 767px) {
			gap: 8px;
		}
	}

	&__second {
		width: 100%;
		@include flex(row, flex-start, flex-start, 20px);
		@media (max-width: 767px) {
			flex-direction: column;
			gap: 8px;
		}
	}

	&__products {
		width: 100%;
		@include flex(column, flex-start, flex-start, 4px);
	}

	&__product {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		padding: 8px 16px 8px 8px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			gap: 8px;
		}
	}

	&__product-img {
		@include box(84px, 84px, 4px);
		object-fit: cover;
		@media (max-width: 767px) {
			@include box(60px, 60px, 4px);
		}
	}

	&__product-info {
		@include flex(column, flex-start, flex-start, 4px);
		p {
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
		span {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__message {
		width: 100%;
		@include flex(row, flex-start, center, 24px);
		padding: 8px 16px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: #efffed;
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(12px, 400, 14px);
		}
	}

	&__result {
		width: 100%;
		@include text-style(20px, 500, 24px, center);
		margin-bottom: -12px;
		@media (max-width: 767px) {
			@include text-style(16px, 500, 20px, center);
			margin-bottom: -4px;
		}
	}

	&__btn {
		width: 100%;
		color: $white;
		@include text-style(16px, 500, 20px);
		@include center;
		padding: 12px 24px;
		border-radius: 8px;
		background: $yellow;
		@include transition;
		&:hover {
			background: $green;
		}
		@media (max-width: 767px) {
			@include text-style(14px, 500, 16px);
			padding: 8px 12px;
		}
	}

	&__description {
		color: $grey;
		@include text-style(14px, 400, 16px);
		@media (max-width: 767px) {
			@include text-style(12px, 400, 14px);
		}
		p {
			display: inline-block;
		}
		a {
			display: inline-block;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
		}
	}

	&__create-acc {
		width: 100%;
		@include flex(column, center, center);
		@media (max-width: 767px) {
			@include flex(column, center, flex-start, 8px);
			padding: 12px;
			border-radius: 12px;
			border: 1px solid rgba(0, 0, 0, 0.06);
			background: #f6f6f6;
		}
		img {
			margin-bottom: 12px;
			@media (max-width: 767px) {
				display: none;
			}
		}
		p {
			@include text-style(20px, 500, 24px, center);
			margin-bottom: 4px;
			@media (max-width: 767px) {
				@include text-style(16px, 500, 20px);
			}
		}
		a {
			color: $green;
			@include text-style(16px, 400, 20px, center);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__block {
		position: relative;
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		padding: 32px;
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			gap: 12px;
			padding: 12px;
		}
	}

	&__block.mobile {
		display: none;
		@media (max-width: 767px) {
			@include flex(column, flex-start, flex-start, 8px);
			padding: 12px;
			border-radius: 8px;
			background: $bg;
			max-height: 40px;
			overflow: hidden;
			@include transition;
		}
	}

	&__block.mobile.open {
		max-height: 700px;
		background: $white;
	}

	&__block-top {
		width: 100%;
		@include flex(row, space-between, center);
		margin-bottom: 4px;
		p {
			@include text-style(14px, 400, 16px);
		}
		img {
			@include transition;
		}
	}

	&__block.mobile.open .checkout__block-top img {
		transform: rotate(180deg);
	}

	&__change {
		position: absolute;
		top: 32px;
		right: 32px;
		color: $green;
		@include text-style(16px, 400, 20px);
		text-decoration-line: underline;
		text-decoration-style: solid;
		text-decoration-skip-ink: auto;
		text-decoration-thickness: auto;
		text-underline-offset: auto;
		@media (max-width: 767px) {
			position: static;
			@include text-style(14px, 400, 16px, center);
			margin: auto;
		}
	}

	&__sub-block {
		width: 100%;
		@include flex(column, flex-start, flex-start, 12px);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			gap: 8px;
			padding: 12px;
		}
	}

	&__sub-block-bottom {
		width: 100%;
		@include flex(row, space-between, center);
		.btn {
			@include center;
			padding: 12px 24px;
			border-radius: 8px;
			background: $yellow;
			color: $white;
			@include text-style(16px, 500, 20px);
			@include transition;
			&:hover {
				background: $green;
			}
			@media (max-width: 767px) {
				padding: 8px 12px;
				@include text-style(14px, 500, 16px);
			}
		}
		a {
			color: $green;
			@include text-style(16px, 400, 20px);
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__subtitle {
		@include text-style(24px, 500, 28px);
		@media (max-width: 767px) {
			@include text-style(20px, 500, 24px);
		}
	}

	&__comment {
		position: relative;
		width: 100%;
		height: 80px;
		&-label {
			position: absolute;
			top: 8px;
			left: 12px;
			color: $grey;
			@include text-style(14px, 400, 16px);
			@media (max-width: 767px) {
				@include text-style(12px, 400, 14px);
			}
		}
		&-textarea {
			width: 100%;
			height: 100%;
			padding: 24px 12px 8px 12px;
			border-radius: 8px;
			border: 1px solid rgba(0, 0, 0, 0.06);
			@include text-style(16px, 400, 20px);
			resize: none;
			&::placeholder {
				opacity: 1;
				color: $black;
			}
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__bottom-info {
		display: none;
		@media (max-width: 767px) {
			@include flex(column, flex-start, flex-start, 8px);
		}
	}

	&__row {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		flex-wrap: wrap;
		@media (max-width: 767px) {
			flex-direction: column;
			gap: 8px;
		}
	}

	input {
		width: 466px;
		height: 48px;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
		@media (max-width: 1200px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			height: 40px;
			padding: 8px;
			@include text-style(14px, 400, 16px);
		}
	}

	&__descr {
		@include text-style(14px, 400, 16px);
	}
}

.delivery-option {
	position: relative;
	@include box(466px, 48px);
	@include flex(row, flex-start, center, 12px);
	padding: 8px 16px;
	cursor: pointer;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: $white;
	@include text-style(16px, 400, 20px);
	@media (max-width: 1200px) {
		width: 100%;
	}
	@media (max-width: 767px) {
		@include text-style(14px, 400, 16px);
		height: auto;
		gap: 8px;
	}
	&-img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
	}
}

/* Ховаємо стандартний чекбокс */
.delivery-option input[type='checkbox'] {
	display: none;
}

/* Кастомний чекбокс */
.custom-checkbox {
	position: relative;
	@include box(20px);
	border: 1px solid $green;
	border-radius: 4px;
	margin-right: 12px;
	@include center;
	@include transition;
}

.delivery-option input[type='checkbox']:checked + .custom-checkbox {
	background-color: $green;
	border-color: $green;
}

.custom-checkbox::after {
	content: '';
	@include box(6px, 10px);
	position: absolute;
	top: 3px;
	border: solid $white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
	@include transition;
}

.delivery-option input[type='checkbox']:checked + .custom-checkbox::after {
	opacity: 1;
}

/* Поле для відділення */
.nova-poshta-branch {
	display: none;
}
