@use '../abstracts' as *;

.footer {
	margin-bottom: 8px;
	width: 100%;
	@include flex(column, center, center, 8px);
	padding: 12px;
	border-radius: 16px;
	background: $green;
	@media (max-width: 767px) {
		padding: 8px;
	}

	&__top {
		width: 100%;
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			padding: 12px;
		}
	}

	&__top-list {
		width: 100%;
		@include flex(row, space-around, center, 12px);
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__top-item {
		@include flex(row, center, center, 12px);
		@include text-style(24px, 500, 28px, center);
		@media (max-width: 1200px) {
			@include text-style(18px, 500, 20px, center);
		}
		@media (max-width: 767px) {
			gap: 8px;
		}
	}

	&__top-separator {
		display: block;
		@include box(1px, 16px);
		background: #d9d9d9;
		@media (max-width: 767px) {
			@include box(32px, 1px);
		}
	}

	&__middle {
		width: 100%;
		@include flex(row, space-between, flex-start, 8px);
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	&__left {
		position: relative;
		@include box(33%, 348px);
		@include flex(column, flex-start, flex-start);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 991px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			max-height: 44px;
			overflow: hidden;
			padding: 12px;
			@include transition;
		}
		h5 {
			@include text-style(16px, 500, 20px);
			margin-bottom: 8px;
		}
		ul {
			@include flex(column, flex-start, flex-start, 8px);
		}
		ul > li {
			color: $grey;
			@include text-style(14px, 400, 16px);
		}
	}

	&__center {
		position: relative;
		@include box(33%, 348px);
		@include flex(column, flex-start, flex-start);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 991px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			max-height: 44px;
			overflow: hidden;
			padding: 12px;
			@include transition;
		}
		h5 {
			@include text-style(16px, 500, 20px);
			margin-bottom: 8px;
		}
		ul {
			@include flex(column, flex-start, flex-start, 8px);
		}
		ul > li {
			color: $grey;
			@include text-style(14px, 400, 16px);
		}
	}

	&__right {
		width: 33%;
		@include flex(column, center, center, 8px);
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	&__right-top {
		position: relative;
		@include box(100%, 260px);
		@include flex(column, flex-start, flex-start);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			max-height: 44px;
			overflow: hidden;
			padding: 12px;
			@include transition;
		}
		h5 {
			@include text-style(16px, 500, 20px);
			margin-bottom: 8px;
		}
		ul {
			@include flex(column, flex-start, flex-start, 8px);
		}
		ul > li {
			color: $grey;
			@include text-style(14px, 400, 16px);
		}
	}

	&__arrow {
		display: none;
		@media (max-width: 767px) {
			@include center;
			position: absolute;
			top: 12px;
			right: 12px;
			@include transition;
		}
	}

	&__right-bottom {
		@include box(100%, 80px);
		@include flex(column, center, center);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			height: auto;
			padding: 12px;
		}
		.socials {
			@include flex(row, center, center, 20px);
			@media (max-width: 1200px) {
				gap: 10px;
			}
			@media (max-width: 767px) {
				gap: 12px;
				flex-wrap: wrap;
			}
		}
		.social {
			@include center;
		}
		.contact-us-btn {
			@include flex(row, center, center, 8px);
			padding: 8px 12px;
			border-radius: 8px;
			border: 1px solid rgba(119, 160, 71, 0.2);
			background: $white;
			@include text-style(14px, 400, 16px);
			@include transition;
			&:hover {
				color: $green;
				border-color: $green;
			}
			@media (max-width: 1200px) {
				padding: 8px;
				gap: 4px;
				font-size: 12px;
			}
		}
	}

	&__bottom {
		width: 100%;
		@include flex(column, center, center, 8px);
		margin-bottom: 8px;
	}

	&__bottom-payment {
		@include flex(row, center, center, 8px);
	}

	&__bottom-payment-item {
		@include center;
	}

	&__bottom-contacts {
		width: 100%;
		@include flex(row, space-between, flex-start, 40px);
		@media (max-width: 767px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 12px;
		}
	}

	&__bottom-contacts--reviews {
		@include flex(column, flex-start, flex-start);
		color: $white;
		@include text-style(14px, 400, 16px);
		@media (max-width: 767px) {
			gap: 8px;
			justify-content: center;
			align-items: center;
		}
		ul {
			@include flex(row, flex-start, center, 2px);
			@media (max-width: 767px) {
				justify-content: center;
			}
		}
		ul > li {
			@include center;
		}
	}

	&__bottom-cities {
		@include flex(row, center, center, 12px);
		flex-wrap: wrap;
		width: 640px;
		@media (max-width: 767px) {
			width: 100%;
		}
		li {
			color: #efffed;
			@include text-style(14px, 400, 16px, center);
		}
	}

	&__bottom-creator {
		color: $white;
		@include text-style(14px, 400, 16px, right);
	}

	&__descr {
		@include flex(column, center, center);
		img {
			margin-bottom: 8px;
		}
		p {
			color: #efffed;
			@include text-style(14px, 400, 16px, center);
			margin-bottom: 8px;
		}
		span {
			display: block;
			color: $white;
			@include text-style(14px, 400, 16px, center);
		}
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	@include box(100%);
	background: rgba(0, 0, 0, 0.8);
	z-index: 111;

	&-content {
		@include centering;
		@include flex(column, center, center, 20px);
		padding: 32px;
		width: 480px;
		height: max-content;
		position: relative;
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.24);
		@media (max-width: 767px) {
			@include flex(column, flex-start, flex-start, 12px);
			width: calc(100% - 16px);
			padding: 20px 12px;
		}
	}

	&-close {
		@include center;
		@include box(24px);
		position: absolute;
		right: 12px;
		top: 12px;
		cursor: pointer;
	}

	&-title {
		@include text-style(24px, 500, 28px);
	}

	&-form {
		width: 100%;
		@include flex(column, flex-start, flex-start, 12px);
		padding: 20px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			padding: 12px;
			gap: 8px;
		}
	}

	&-form-input {
		@include box(100%, 48px);
		padding: 8px 12px;
		@include flex(column, center, flex-start);
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}

	&-form-textarea {
		@include box(100%, 80px);
		padding: 8px 12px;
		@include flex(column, center, flex-start);
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
		resize: none;
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}

	&-form-stars-wrap {
		width: 100%;
		@include flex(column, center, center, 12px);
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
	}

	&-form-stars-title {
		@include text-style(16px, 500, 20px, center);
	}

	&-form-stars-text {
		color: $grey;
		@include text-style(16px, 400, 20px, center);
	}

	&-form-stars-btn {
		width: 100%;
		@include center;
		padding: 12px 24px;
		border-radius: 8px;
		background: $yellow;
		color: $white;
		@include text-style(16px, 500, 20px);
		@include transition;
		&:hover {
			background: $green;
		}
	}

	.stars {
		display: flex;
		gap: 5px;
	}
	.stars .star {
		cursor: pointer;
	}
	.thank-title {
		@include text-style(24px, 500, 28px, center);
		margin-bottom: -12px;
	}
	.thank-text {
		@include text-style(16px, 400, 20px, center);
	}
}
.modal-cart {
	.modal-content {
		@include centering;
		width: 800px;
		@media (max-width: 767px) {
			width: calc(100% - 16px);
			max-height: 90vh;
		}
	}

	&-title {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		h2 {
			@include text-style(24px, 500, 28px);
		}
		p {
			@include text-style(16px, 400, 20px);
		}
	}

	&-body {
		width: 100%;
		@include flex(column, center, center, 4px);
		@media (max-width: 767px) {
			padding: 10px;
			min-height: 400px;
			overflow: scroll;
		}
	}

	&-item {
		position: relative;
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		padding: 8px 16px 8px 8px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
	}

	&-item__img {
		@include box(84px);
		object-fit: cover;
		@media (max-width: 767px) {
			@include box(50px);
		}
	}

	&-item__info {
		@include flex(column, flex-start, flex-start, 4px);
	}

	&-item__title {
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}

	&-item__price {
		@include flex(row, flex-start, center, 8px);
		.new {
			color: $red;
			@include text-style(16px, 400, 20px);
		}
		.old {
			color: $grey;
			@include text-style(14px, 400, 16px);
			text-decoration-line: line-through;
		}
		.current {
			color: $grey;
			@include text-style(16px, 400, 20px);
		}
	}

	&-item__btn {
		position: absolute;
		right: 16px;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: 767px) {
			bottom: 16px;
			top: auto;
			transform: translateY(0);
		}
		&:before {
			content: '';
			position: absolute;
			left: -12px;
			top: 50%;
			transform: translateY(-50%);
			@include box(1px, 16px);
			background: #d9d9d9;
		}
	}

	&-bottom {
		width: 100%;
		@include flex(row, flex-end, center, 12px);
		@media (max-width: 767px) {
			gap: 4px;
			justify-content: center;
			flex-wrap: wrap;
		}
		p {
			@include text-style(20px, 500, 24px, right);
		}
		button {
			@include center;
			padding: 12px 24px;
			border-radius: 8px;
			background: $yellow;
			color: $white;
			@include text-style(16px, 500, 20px);
			@include transition;
			&:hover {
				background: $green;
			}
		}
	}
}
