@use '../abstracts' as *;

.header-wrapper {
	position: relative;
	padding-top: 12px;
	padding-bottom: 8px;
	@include flex(column, center, center, 8px);
	@media (max-width: 767px) {
		padding-top: 8px;
	}
}
.header {
	width: 100%;
	padding: 8px;
	border-radius: 16px;
	background: $white;
	@media (max-width: 767px) {
		display: none;
	}
	&__banner {
		@include flex(row, space-between, center);
		padding: 12px;
		@include box(100%, 44px, 8px);
		background: linear-gradient(
				0deg,
				rgba(122, 128, 134, 0.6) 0%,
				rgba(122, 128, 134, 0.6) 100%
			),
			url('../../img/banner.jpg') center/cover no-repeat;
		@media (max-width: 767px) {
			height: 40px;
		}
		&-text {
			@include centering;
			position: relative !important;
			color: $white;
			@include text-style(16px, 500, 20px, center);
			@media (max-width: 767px) {
				@include text-style(14px, 500, 16px, center);
			}
		}
	}

	&__top {
		width: 100%;
		@include flex(row, space-between, center);
		padding: 8px 12px;
		border-radius: 12px;
		background: #f6f6f6;
	}

	&__top-nav {
		@include flex(row, flex-start, center, 20px);
		@media (max-width: 991px) {
			gap: 12px;
		}
	}

	&__top-nav > a {
		@include flex(row, flex-start, center, 4px);
		@include text-style(14px, 400, 16px);
	}

	&__schedule {
		@include text-style(14px, 400, 16px, center);
		@media (max-width: 1200px) {
			width: 120px;
		}
		@media (max-width: 991px) {
			display: none;
		}
		@media (max-width: 767px) {
			display: block;
			width: 100%;
			@include text-style(18px, 400, 20px, center);
		}
	}

	&__contacts {
		@include flex(row, flex-start, center, 20px);
		@media (max-width: 991px) {
			gap: 12px;
		}
	}

	&__contacts-numbers {
		@include flex(row, flex-start, center, 20px);
		@media (max-width: 991px) {
			flex-direction: column;
			gap: 8px;
		}
	}

	&__contacts-numbers > a {
		@include flex(row, flex-start, center, 4px);
		@include text-style(14px, 400, 16px);
		.viber {
			@media (max-width: 991px) {
				display: none;
			}
		}
	}

	&__btn {
		@include flex(row, center, center, 8px);
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		span {
			@include text-style(14px, 400, 16px);

			@media (max-width: 1200px) {
				display: none;
			}
			@media (max-width: 767px) {
				display: block;
			}
		}
	}

	&__bottom {
		margin-top: 8px;
		padding: 8px 12px;
		@include flex(row, space-between, center, 80px);
		@media (max-width: 1200px) {
			gap: 20px;
		}
		@media (max-width: 991px) {
			gap: 12px;
		}
	}

	&__bottom-left {
		@include center;
		@media (max-width: 1200px) {
			width: 120px;
		}
	}

	&__bottom-center {
		@include flex(row, center, center, 8px);
		flex: 1;
	}

	&__bottom-catalog {
		@include flex(row, center, center, 12px);
		padding: 8px 16px;
		border-radius: 8px;
		background: $yellow;
		color: $white;
		@include text-style(16px, 500, 20px);
		@media (max-width: 767px) {
			gap: 8px;
			height: 36px;
		}
	}

	&__bottom-search {
		position: relative;
		width: 100%;
		height: 40px;
		@media (max-width: 767px) {
			max-width: 193px;
			height: 36px;
		}
		input {
			padding: 10px 16px 10px 52px;
			@include box(100%, 100%, 8px);
			border: 1px solid rgba(119, 160, 71, 0.2);
			background: $white;
			@include text-style(16px, 400, 20px);
		}
		input::placeholder {
			color: $black;
			opacity: 1;
		}
		.search {
			position: absolute;
			left: 16px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__bottom-right {
		@include flex(row, flex-end, center, 8px);
		@media (max-width: 767px) {
			gap: 4px;
		}
	}

	&__bottom-currency {
		@include flex(row, center, center, 4px);
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		@media (max-width: 767px) {
			padding: 8px;
			gap: 0;
			img {
				@include box(20px);
			}
		}
	}

	&__bottom-user {
		@include center;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		@media (max-width: 767px) {
			padding: 8px;
			img {
				@include box(20px);
			}
		}
	}

	&__bottom-heart {
		position: relative;
		@include center;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		@media (max-width: 767px) {
			padding: 8px;
			img {
				@include box(20px);
			}
		}

		.mark {
			position: absolute;
			top: 5px;
			right: 5px;
			background: transparent;
			@media (max-width: 767px) {
				top: 2px;
				right: 2px;
			}
		}
	}

	&__bottom-cart {
		@include flex(row, center, center, 8px);
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		@media (max-width: 767px) {
			padding: 8px;
			gap: 0;
			img {
				@include box(20px);
			}
		}
		span {
			@include text-style(14px, 400, 16px);
			@media (max-width: 991px) {
				display: none;
			}
		}
	}

	&__bottom-cart--img {
		position: relative;
		.mark {
			position: absolute;
			top: -2px;
			right: -4px;
			background: transparent;
			@media (max-width: 767px) {
				top: -6px;
				right: -7px;
			}
		}
	}
}

.header-mobile {
	display: none;
	@media (max-width: 767px) {
		width: 100%;
		@include flex(column, center, flex-start, 8px);
		padding: 8px;
		border-radius: 16px;
		background: $white;
	}
	&__top {
		width: 100%;
		@include flex(row, space-between, center, 20px);
	}

	&__top > a {
		@include center;
		@include box(156px, 38px);
	}

	&__bottom {
		width: 100%;
		@include flex(row, space-between, center, 4px);
	}

	&__burger {
		@include center;
		@include box(36px);
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		@include transition;
	}
}

body.menu-open {
	overflow: hidden;
}

.bottom-menu {
	display: none;
	@media (max-width: 767px) {
		position: fixed;
		left: 8px;
		bottom: 8px;
		width: calc(100% - 16px);
		@include flex(column, center, center, 20px);
		background-color: $white;
		border-radius: 8px;
		padding: 8px;
		z-index: 111;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	}

	&__list {
		width: 100%;
		@include flex(row, space-around, center, 10px);
	}

	&__list {
		@include center;
		a {
			@include center;
			padding: 8px 12px;
			border-radius: 8px;
			border: 1px solid rgba(119, 160, 71, 0.2);
			background: $white;
		}
	}
}

.catalog {
	&__menu {
		position: absolute;
		top: 200px;
		left: 27%;
		@include box(fit-content, 608px);
		@include flex(row, flex-start, center, 2px);
		padding: 8px;
		border-radius: 16px;
		background: $white;
		box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.24);
		z-index: 11;
		opacity: 0;
		pointer-events: none;
		transform: translateY(-10px);
		@include transition;
		&.active {
			opacity: 1;
			pointer-events: all;
			transform: translateY(0);
		}
		@media (max-width: 1200px) {
			left: 12px;
		}
		@media (max-width: 991px) {
			height: auto;
			width: 50%;
		}
		@media (max-width: 768px) {
			left: 8px;
		}
		@media (max-width: 767px) {
			width: calc(100% - 16px);
			top: 138px;
			padding: 0;
		}
	}

	&__menu-col {
		padding: 12px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include flex(column, flex-start, flex-start, 8px);
		&.first {
			@include box(288px, 100%);
		}
		&.second {
			display: none;
			@include box(288px, 100%);
			@media (max-width: 991px) {
				position: absolute;
				left: 0;
				top: 0;
				@include box(100%);
			}
		}
		&.third {
			display: none;
			@include box(340px, 100%);
			@media (max-width: 991px) {
				position: absolute;
				left: 0;
				top: 0;
				@include box(100%);
				gap: 4px;
			}
		}
		&.fourth {
			@include box(320px, 100%);
			padding: 0;
			@media (max-width: 1200px) {
				display: none !important;
			}
		}
		@media (max-width: 991px) {
			width: 100% !important;
			height: 544px;
			border: none;
		}
	}

	&__menu-item {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		padding: 7px;
		@include text-style(16px, 400, 20px);
		border-radius: 8px;
		border: 1px solid transparent;
		@include transition;
		&:hover {
			border-color: rgba(0, 0, 0, 0.06);
			background: $white;
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
			.second {
				display: block;
			}
		}
		&.active {
			border-color: rgba(0, 0, 0, 0.06);
			background: $white;
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
		}
		&.second {
			padding: 4px 12px;
			@media (max-width: 991px) {
				img {
					@include box(48px);
				}
			}
		}
	}

	&__menu-item--back {
		display: none;
		@media (max-width: 991px) {
			@include flex(row, flex-start, center, 12px);
			width: 100%;
			padding: 7px;
			@include text-style(16px, 500, 20px);
			border-radius: 8px;
			border: 1px solid transparent;
			@include transition;
			&:hover {
				border-color: rgba(0, 0, 0, 0.06);
				background: $white;
				box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
			}
		}
	}

	&__menu-product {
		position: relative;
		@include flex(column, flex-end, center);
		@include box(100%);
		border-radius: 12px;
		background: #fff7e3 url(../../img/card-bg.svg) no-repeat -344px -170.224px /
			382.904% 122.487%;
		background-size: cover;
		background-position: center;
	}

	&__menu-product-marks {
		position: absolute;
		top: 8px;
		left: 8px;
		@include flex(column, flex-start, flex-start, 2px);
		.action {
			color: $white;
			@include text-style(11px, 500, 12px);
			padding: 2px 6px;
			border-radius: 200px;
			background: $red;
		}
		.new {
			color: $white;
			@include text-style(11px, 500, 12px);
			padding: 2px 6px;
			border-radius: 200px;
			background: $green;
		}
	}

	&__menu-product--img {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
		@include box(254px, 239px);
		object-fit: cover;
	}

	&__menu-product--info {
		width: 100%;
		@include flex(column, flex-start, center);
		padding: 16px 20px 32px 20px;
	}

	&__menu-product--title {
		@include text-style(24px, 500, 28px, center);
		margin-bottom: 4px;
	}

	&__menu-product--text {
		@include text-style(16px, 400, 20px, center);
	}

	&__menu-product--panel {
		margin-top: 12px;
		@include flex(row, space-between, center);
		width: 100%;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
	}

	&__menu-product--price {
		@include text-style(16px, 400, 20px);
	}

	&__menu-product--cart {
		position: relative;
		@include center;
		&:before {
			content: '';
			position: absolute;
			left: -10px;
			top: 50%;
			transform: translateY(-50%);
			@include box(1px, 16px);
			background: $bg;
		}
	}
}

.menu {
	position: absolute;
	top: 146px;
	@include flex(column, flex-start, center, 12px);
	width: calc(100% - 16px);
	padding: 20px 12px;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: $white;
	box-shadow: 0 12px 48px 0 rgba(0, 0, 0, 0.24);
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	@include transition;
	z-index: 100;

	&.active {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}

	&__langs {
		@include flex(row, center, center, 24px);
	}

	&__lang {
		@include text-style(16px, 400, 20px);
		text-decoration-line: underline;
		text-decoration-style: dotted;
		text-decoration-color: #c5c5c5;
		text-decoration-thickness: 15%;
		&:hover {
			color: $grey;
		}
		&.active {
			color: $grey;
		}
	}

	&__nav {
		width: 100%;
		@include flex(column, center, center, 4px);
		padding: 12px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: #f6f6f6;
	}

	&__nav-item {
		width: 100%;
		@include flex(row, flex-start, center, 4px);
		padding: 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
	}

	.dropdown {
		width: 100%;
		width: 100%;
		@include flex(row, flex-start, center, 4px);
		padding: 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;

		&__toggle {
			width: 100%;
			justify-content: space-between;
			@include text-style(16px, 400, 20px);
		}

		&__menu {
			top: 100%;
			width: 100%;
			@include text-style(16px, 400, 20px);
		}
	}

	&__contacts {
		width: 100%;
		@include flex(column, center, center, 8px);
		padding: 12px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: #f6f6f6;
	}

	&__contacts-cities {
		@include flex(row, center, center, 24px);
	}

	&__contacts-city {
		@include text-style(16px, 400, 20px);
		text-decoration-line: underline;
		text-decoration-style: dotted;
		text-decoration-color: #c5c5c5;
		text-decoration-thickness: 15%;
		&:hover {
			color: $grey;
		}
		&.active {
			color: $grey;
		}
	}

	&__contacts-phones {
		@include flex(row, center, center, 4px);
	}

	&__contacts-phone {
		@include flex(row, center, center, 4px);
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
	}

	&__contacts-order-call {
		width: 100%;
		@include flex(row, center, center, 8px);
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(119, 160, 71, 0.2);
		background: $white;
		@include text-style(16px, 400, 20px);
	}

	&__schedule {
		@include text-style(16px, 400, 20px, center);
	}
}

.menu__nav-item-drop {
	width: 100%;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: $white;
	padding: 12px 12px 0 12px;
}

.menu__nav-item-drop--top {
	@include flex(row, space-between, center, 4px);
	@include text-style(16px, 400, 20px);
	margin-bottom: 12px;
}

.menu__nav-item-drop--list {
	@include flex(column, flex-start, flex-start, 8px);
	max-height: 0;
	overflow: hidden;
	@include transition;
	@include text-style(16px, 400, 20px);
}
.menu__nav-item-drop--list li:last-child {
	padding-bottom: 12px;
}

.menu__nav-item-drop.open .menu__nav-item-drop--list {
	max-height: 200px;
}
