@use '../abstracts' as *;

.hero {
	@include flex(row, flex-start, flex-start, 20px);
	padding: 12px 0 12px 12px;
	border-radius: 16px;
	background: $green;
	@media (max-width: 1200px) {
		padding: 12px;
	}
	@media (max-width: 767px) {
		padding: 8px 0 8px 8px;
		border-radius: 12px;
		gap: 12px;
	}
	@media (max-width: 480px) {
		flex-direction: column;
	}
	&__menu {
		width: 288px;
		flex-shrink: 0;
		@include flex(column, flex-start, flex-start, 8px);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		padding: 12px;
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__menu-item-wrap {
		@include flex(column, flex-start, flex-start);
		width: 100%;
		padding: 8px;

		border-radius: 8px;
		transition: 1s all;
		&:hover {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
			.hero__menu-item--list {
				max-height: 500px;
				margin-bottom: 4px;
				transition: 3s all;
			}
		}
		&.active {
			box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
		}
	}

	&__menu-item {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		@include text-style(16px, 400, 20px);
		@include transition;
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
			gap: 8px;
		}
		@media (max-width: 480px) {
			width: 48%;
		}
	}

	&__menu-item--list {
		max-height: 0;
		padding-left: 36px;
		overflow: hidden;
		padding: 0 12px 12px 12px;
		@include flex(column, flex-start, flex-start, 12px);
		@include transition;
	}

	&__menu-item--item {
		@include text-style(14px, 400, 16px);
		@include transition;
		&:first-child {
			padding-top: 12px;
		}
		&:hover {
			color: #7a8086;
		}
	}

	&__slider {
		width: 100%;
	}

	&__slider-item {
		position: relative;
		height: 720px;
		@include flex(column, flex-end, center);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		@media (max-width: 1200px) {
			height: 640px;
		}
		@media (max-width: 767px) {
			height: 480px;
		}
		@media (max-width: 480px) {
			height: 450px;
		}
		& > .action {
			position: absolute;
			top: 35%;
			left: 8%;
			transform: rotate(-20deg);
			color: $white;
			@include text-style(24px, 500, 28px, center);
			padding: 8px 12px;
			border-radius: 4px;
			background: $red;
			z-index: 2;
		}
	}

	&__slider-item.first-variant {
		background: #e3f2ff;
		.hero__slider-item--img {
			top: 0 !important;
		}
	}

	&__slider-item.second-variant {
		background: #fff7e3 url(../../img/card-bg.svg) no-repeat -344px -170.224px /
			382.904% 122.487%;
		background-size: cover;
		background-position: center;
	}

	&__slider-item.third-variant {
		background: #ffeded;
	}

	&__slider-item--img {
		position: absolute;
		top: 92px;
		left: 50%;
		transform: translateX(-50%);
		@media (max-width: 767px) {
			top: 50px;
		}
		@media (max-width: 767px) {
			width: 250px;
		}
	}

	&__slider-item--info {
		@include flex(column, flex-end, center);
		padding: 16px 20px 32px 20px;
		@media (max-width: 767px) {
			padding: 12px 12px 24px 12px;
		}
	}

	&__slider-item--title {
		@include text-style(24px, 500, 28px, center);
		margin-bottom: 4px;
		@media (max-width: 767px) {
			@include text-style(20px, 500, 24px, center);
		}
	}

	&__slider-item--text {
		@include text-style(16px, 400, 20px, center);
		margin-bottom: 12px;
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px, center);
			margin-bottom: 8px;
		}
	}

	&__slider-item--btn {
		padding: 12px 24px;
		color: $white;
		@include text-style(16px, 500, 20px);
		border-radius: 8px;
		background: $yellow;
		@include transition;
		&:hover {
			background: $green;
		}
		@media (max-width: 767px) {
			padding: 8px 16px;
			@include text-style(14px, 500, 16px);
		}
	}

	&__slider-item--nav {
		margin-top: 8px;
		@include flex(row, center, center, 8px);
	}

	&__slider__prev,
	&__slider__next {
		@include center;
	}

	&__slider__pagination {
		width: fit-content !important;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 8px;
		@media (max-width: 767px) {
			gap: 4px;
		}
	}
}
.swiper-pagination-bullet {
	width: 20px;
	height: 4px;
	border-radius: 20px;
	opacity: 0.2;
	background: $white;
	@media (max-width: 767px) {
		width: 16px;
	}
}
.swiper-pagination-bullet-active {
	opacity: 1;
}

.advantages {
	margin: 8px 0;
	@include flex(row, center, center, 8px);
	border-radius: 16px;
	background: $white;
	padding: 12px;
	@media (max-width: 1200px) {
		flex-direction: column;
		border-radius: 12px;
		padding: 8px;
	}
	&__item {
		@include flex(row, flex-start, center, 20px);
		padding: 20px 20px 20px 32px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 1200px) {
			width: 100%;
			padding: 12px;
		}
	}

	&__item-img {
		@include box(48px);
	}

	&__item-info {
		h5 {
			@include text-style(16px, 500, 20px);
			margin-bottom: 4px;
		}
		p {
			color: $grey;
			@include text-style(16px, 400, 20px);
		}
	}
}
