@use '../abstracts' as *;

.information {
	margin: 80px 0 8px 0;
	@include flex(column, flex-start, flex-start, 16px);
	padding: 32px;
	border-radius: 16px;
	border: 1px solid rgba(0, 0, 0, 0.06);
	background: $white;
	@media (max-width: 767px) {
		margin: 20px 0 8px 0;
		gap: 8px;
		padding: 12px;
	}
	h2 {
		@include text-style(24px, 500, 28px);
		@media (max-width: 767px) {
			@include text-style(18px, 500, 20px);
		}
	}
	p,
	li {
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}
	li {
		list-style-type: disc;
		margin-left: 20px;
	}

	ol > li {
		list-style-type: decimal;
	}

	.product-list {
		width: 100%;
		padding: 16px;
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}

	.product-item {
		@include flex(row, flex-start, center, 12px);
		padding: 8px 0;
		&:not(:last-child) {
			border-bottom: 1px solid rgba(0, 0, 0, 0.06);
		}
	}

	.product-title {
		width: 694px;
		@include text-style(16px, 400, 20px);
		@media (max-width: 991px) {
			width: auto;
		}
	}

	.product-price {
		@include text-style(16px, 400, 20px);
	}
}
