@use '../abstracts' as *;

.order {
	position: relative;
	width: 100%;
	@include flex(row, flex-start, flex-start, 8px);
	margin-bottom: 8px;
	@media (max-width: 991px) {
		flex-direction: column;
	}
	@media (max-width: 767px) {
		flex-direction: column;
	}
	&__left {
		width: 65%;
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	.breadcrumbs {
		margin-bottom: 0;
		@media (max-width: 767px) {
			margin-top: 0;
		}
	}

	&__block {
		position: relative;
		width: 100%;
		@include flex(column, flex-start, flex-start, 20px);
		padding: 32px;
		border-radius: 16px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			gap: 8px;
			padding: 12px;
		}
	}

	&__title {
		@include text-style(36px, 500, 44px);
		@media (max-width: 767px) {
			@include text-style(20px, 500, 24px);
		}
	}

	&__pre-title {
		@include text-style(20px, 500, 24px);
		@media (max-width: 991px) {
			@include text-style(16px, 500, 20px);
		}
	}

	&__block-first {
		@include flex(row, flex-start, flex-start, 12px);
		padding: 12px 16px;
		align-self: stretch;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 991px) {
			padding: 8px;
			flex-direction: column;
			gap: 4px;
		}
	}

	&__block-first--list {
		@include flex(column, flex-start, flex-start, 4px);
		width: 50%;
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	&__block-first--item {
		color: $black;
		@include text-style(16px, 400, 20px);
		@media (max-width: 991px) {
			@include text-style(14px, 400, 16px);
		}
		span {
			color: $green;
		}
		&.bold {
			@include text-style(20px, 500, 24px);
			@media (max-width: 991px) {
				@include text-style(16px, 500, 20px);
			}
		}
	}

	&__sub-block {
		width: 100%;
		@include flex(column, flex-start, flex-start, 12px);
		padding: 20px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			gap: 8px;
			padding: 12px;
		}
		h2 {
			@include text-style(24px, 500, 28px);
			@media (max-width: 767px) {
				@include text-style(20px, 500, 24px);
			}
		}
	}

	&__row {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		flex-wrap: wrap;
		@media (max-width: 767px) {
			flex-direction: column;
			gap: 8px;
		}
	}

	&__block-second {
		@include flex(column, flex-start, flex-start, 4px);
		width: 100%;
	}

	&__right {
		width: 35%;
		@include center;
		padding-top: 30px;
		@media (max-width: 991px) {
			width: 100%;
			padding: 20px 0;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__img-second {
		@media (max-width: 991px) {
			width: 50%;
		}
	}

	&__btn {
		@include center;
		padding: 12px 24px;
		border-radius: 8px;
		background: $yellow;
		color: $white;
		@include text-style(16px, 500, 20px);
		@include transition;
		&:hover {
			background: $green;
		}
		@media (max-width: 767px) {
			padding: 8px 12px;
			@include text-style(14px, 500, 16px);
		}

		&:disabled {
			background: #d9d9d9;
			pointer-events: none;
		}
	}

	&__products {
		width: 100%;
		@include flex(column, flex-start, flex-start, 4px);
	}

	&__product {
		width: 100%;
		@include flex(row, flex-start, center, 12px);
		padding: 8px 16px 8px 8px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			gap: 8px;
		}
	}

	&__product-img {
		@include box(84px, 84px, 4px);
		object-fit: cover;
		@media (max-width: 767px) {
			@include box(60px, 60px, 4px);
		}
	}

	&__product-info {
		@include flex(column, flex-start, flex-start, 4px);
		p {
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
		span {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	input {
		width: 466px;
		height: 48px;
		padding: 8px 12px;
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(16px, 400, 20px);
		@media (max-width: 1200px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			height: 40px;
			padding: 8px;
			@include text-style(14px, 400, 16px);
		}
	}
}
