@use '../abstracts' as *;

.products {
	padding: 40px 0;
	margin: 8px 0;
	@media (max-width: 767px) {
		padding: 20px 0;
	}

	&__title {
		@include text-style(36px, 500, 44px, center);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 26px, center);
			margin-bottom: 12px;
		}
	}

	&__row {
		@include flex(row, center, flex-start, 8px);
		width: 100%;
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	&__left {
		width: 50%;
		@include flex(row, flex-start, flex-start, 8px);
		@media (max-width: 991px) {
			width: 100%;
		}
	}
	&__left-col {
		@include flex(column, flex-start, flex-start, 8px);
		width: 50%;
	}

	&__right {
		width: 50%;
		@include flex(column, flex-start, flex-start, 8px);
		@media (max-width: 991px) {
			width: 100%;
		}
	}

	&__right-row {
		@include flex(row, center, flex-start, 8px);
		width: 100%;
	}

	&__right-col {
		@include flex(column, flex-start, flex-start, 8px);
		width: 50%;
	}

	&__card-large {
		position: relative;
		@include flex(column, flex-end, center);
		@include box(100%, 808px);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		overflow: hidden;
		@media (max-width: 991px) {
			max-width: 100%;
			height: 488px;
		}
	}

	&__card {
		position: relative;
		@include flex(column, flex-end, center);
		@include box(100%, 400px);
		padding: 12px;
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		overflow: hidden;
		@media (max-width: 991px) {
			max-width: 100%;
			height: 240px;
		}
	}

	&__card-img {
		@media (max-width: 991px) {
			width: auto;
			max-height: 120px;
			object-fit: contain;
		}
	}

	&__card-link {
		position: absolute;
		bottom: 20px;
		right: 20px;
	}

	&__card-body {
		width: 100%;
		@include flex(column, flex-start, flex-start, 8px);
		padding: 20px;
		@media (max-width: 767px) {
			padding: 12px;
		}
	}

	&__card-title {
		@include text-style(24px, 500, 28px);
		@media (max-width: 767px) {
			@include text-style(20px, 500, 24px);
		}
	}

	&__card-text {
		color: $grey;
		@include text-style(16px, 500, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 500, 16px);
		}
	}

	&__btn {
		margin-top: 8px;
		color: $white;
		width: 100%;
		@include center;
		@include text-style(16px, 500, 20px, center);
		padding: 12px 24px;
		border-radius: 8px;
		background: $yellow;
		@media (max-width: 767px) {
			padding: 8px 24px;
		}
	}
}
