@use '../abstracts' as *;

.reviews {
	padding: 40px 12px 12px 12px;
	border-radius: 16px;
	background: $green;
	@media (max-width: 767px) {
		padding: 20px 12px 12px 12px;
	}
	&__title {
		color: $white;
		@include text-style(36px, 500, 44px, center);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 26px, center);
			margin-bottom: 12px;
		}
	}

	&__list {
		@include flex(row, center, flex-start, 8px);
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	&__item {
		padding: 20px;
		@include flex(column, flex-start, flex-start, 12px);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			padding: 12px;
			gap: 8px;
		}
	}

	&__item-top {
		@include flex(row, flex-start, center, 12px);
		@media (max-width: 767px) {
			gap: 8px;
		}
		.rate {
			@include flex(row, flex-start, center, 2px);
			&__star {
				@include box(24px);
			}
		}
		.name {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__item-text {
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}

	&__item-card {
		padding: 8px 16px 8px 8px;
		@include flex(row, flex-start, center, 12px);
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			padding: 8px;
			gap: 8px;
		}
		.info > h5 {
			@include text-style(16px, 400, 20px);
			margin-bottom: 4px;
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
		.info > p {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
		span {
			display: block;
			width: 1px;
			height: 16px;
			background: #d9d9d9;
			@media (max-width: 767px) {
				height: 12px;
			}
		}
		.cart {
			display: flex;
			flex-shrink: 0;
			@include box(24px);
		}
	}
}
