@use '../abstracts' as *;

.reviews {
	padding: 40px 12px 12px 12px;
	border-radius: 16px;
	background: $green;
	@media (max-width: 767px) {
		padding: 20px 8px 8px 8px;
	}
	&__title {
		color: $white;
		@include text-style(36px, 500, 44px, center);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px, center);
			margin-bottom: 8px;
		}
	}

	&__swiper-wrap {
		@include flex(row, center, center, 8px);
		@media (max-width: 767px) {
			flex-direction: column;
		}
	}

	&__swiper {
		width: 95%;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__swiper__prev.desktop,
	&__swiper__next.desktop {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__swiper__prev,
	&__swiper__next {
		@include center;
		@include box(56px);
		border-radius: 200px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			width: auto;
			height: auto;
			border-radius: 0;
			border: 0;
			background: transparent;
		}
	}

	&__swiper__prev {
		transform: rotate(180deg);
	}
	.swiper-pagination-bullet {
		display: block;
		margin: 0 !important;
		position: static !important;
	}

	&__pagination {
		width: fit-content !important;
		@include flex(row, center, center, 8px);
	}

	&__swiper-nav {
		display: none;
		@media (max-width: 767px) {
			@include flex(row, center, center, 8px);
		}
	}

	&__list {
		@include flex(row, center, flex-start, 8px);
		@media (max-width: 991px) {
			flex-direction: column;
		}
	}

	&__item {
		padding: 20px;
		@include flex(column, flex-start, flex-start, 12px);
		border-radius: 12px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@media (max-width: 767px) {
			padding: 12px;
		}
	}

	&__item-top {
		@include flex(row, flex-start, center, 12px);
		flex-wrap: wrap;
		@media (max-width: 767px) {
			gap: 8px;
		}
		.rate {
			@include flex(row, flex-start, center, 2px);
			&__star {
				@include box(24px);
				@media (max-width: 767px) {
					@include box(20px);
				}
			}
		}
		.name {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
	}

	&__item-text {
		@include text-style(16px, 400, 20px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}

	&__item-card {
		padding: 8px 16px 8px 8px;
		@include flex(row, flex-start, center, 12px);
		border-radius: 8px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $bg;
		@media (max-width: 767px) {
			padding: 8px;
			gap: 8px;
		}
		.info > h5 {
			@include text-style(16px, 400, 20px);
			margin-bottom: 4px;
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
		.info > p {
			color: $grey;
			@include text-style(16px, 400, 20px);
			@media (max-width: 767px) {
				@include text-style(14px, 400, 16px);
			}
		}
		span {
			display: block;
			width: 1px;
			height: 16px;
			background: #d9d9d9;
		}
		.cart {
			display: flex;
			flex-shrink: 0;
			@include box(24px);
		}
	}
	&__btn {
		margin: auto;
		margin-top: 20px;
		@include center;
		padding: 8px 12px;
		border-radius: 6px;
		border: 1px solid rgba(0, 0, 0, 0.06);
		background: $white;
		@include text-style(14px, 400, 16px);
		@include transition;
		&:hover {
			color: $green;
		}
		@media (max-width: 767px) {
			margin-top: 12px;
		}
	}
}
